<!-- About Us Section -->
<div id="about-us" class="section about-us">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="../../images/introduce/about1.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                <div class="about_content">
                    <h3>Introduction to the online course website</h3>
                    <p class="fst-italic">
                        Overview of a reliable and high-quality online education platform offering a variety of courses
                        for
                        personal and professional development.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>Our website is a reliable and high-quality online
                                education platform.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>We offer a range of online courses aimed at
                                providing
                                learners with the knowledge and skills they need to develop personally and
                                professionally.</span></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-up" data-aos-delay="200">
                <div class="about_content">
                    <h3>Online course products and services</h3>
                    <p class="fst-italic">
                        Diverse range of expert-developed online courses with clear structures, engaging content, and
                        modern
                        teaching methods. High-quality support through materials, forums, and instructor guidance.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> <span>We provide a diverse selection of online courses
                                developed by top experts in their respective fields.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Courses for all levels, catering to different
                                learning
                                needs and goals.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Clear structure and concise content for easy
                                learning.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>Engaging teaching methods like videos, lectures,
                                exercises, and instructor feedback.</span></li>
                        <li><i class="bi bi-check-circle"></i> <span>High-quality support through materials, forums, and
                                guidance from instructors and peers.</span></li>
                    </ul>
                </div>


            </div>

            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <img src="../../images/introduce/about2.jpg" class="img-fluid" alt="">
            </div>

        </div>

    </div>

</div><!-- /About Us Section -->

<!-- Stats About Section -->
<div id="stats-about" class="stats-about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="<%=data.num_student%>" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p class="">Students</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-4 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="<%=data.num_course%>" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p class="">Courses</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-4 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="<%=data.num_instructor%>" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p class="">Instructors</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</div><!-- /Stats About Section -->