<div id="course_slide">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../images/slide/slide1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../images/slide/slide2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../images/slide/slide3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../images/slide/slide4.jpg" alt=""></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


    
</div>

