<footer id="footer" class="footer position-relative">

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-6 footer-about">
                <a href="#" class="logo d-flex align-items-center">
                    <span class="">EduSphere</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>Số 11D, lô A10, khu đô thị Nam Trung Yên</p>
                    <p>Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</p>
                    <p class="mt-3"><strong>Phone:</strong> <span>(+84) 0999 999 999</span></p>
                    <p><strong>Email:</strong> <span>contact@fullstack.edu.vn</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/home/about_us">About us</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Product</h4>
                <ul>
                    <li><a href="https://css-diner.fullstack.edu.vn/">CSS Diner</a></li>
                    <li><a href="https://css-selectors-cheatsheet.fullstack.edu.vn/">CSS Selectors</a></li>
                    <li><a href="https://froggy.fullstack.edu.vn/">CSS Froggy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Tools</h4>
                <ul>
                    <li><a href="https://clippy.fullstack.edu.vn/">Clip-path maker</a></li>
                    <li><a href="https://snippet-generator.fullstack.edu.vn/">Snippet Generator</a></li>
                    <li><a href="https://grid.fullstack.edu.vn/">CSS Grid Generator</a></li>
                    <li><a href="https://colorhunt.co/"> Color palette </a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-newsletter">
                <h4>EduSphere Compapy</h4>
                <p>Tax code: 0109922901</p>
                <p>Date of establishment: March 4, 2022</p>
                <p>Field: Technology, education, programming. EduSphere builds and develops products that bring value to the community.</p>
            </div>

        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1">Udemy, F8</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
    </div>

</footer>