<!doctype html>
<html lang="en">
<head>
    <title>EduSphere - Forgot Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('../partials/css-library') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="icon" type="image/svg+xml" href="../../images/logo.svg">
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
        font-size: 16px;
        transition: all 500ms ease; 
      }

      body {
        background: linear-gradient(to right, #5387e1, #d3d6e1);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        -moz-font-feature-settings: "liga" on;
        font-feature-settings: "liga" on; }

      .row {
        background-color: #4d84e2;
        color: #fff;
        text-align: center;
        padding: 2em 2em 0.5em;
        width: 90%;
        margin: 100px	auto;
        border-radius: 5px; }

      .row h1 {
        font-size: 2.5em; }

      .row .form-group {
        margin: 0.5em 0; }

      .row .form-group label {
        display: block;
        color: #fff;
        text-align: left;
        font-weight: 600; }

      .row .form-group input, .row .form-group button {
        display: block;
        padding: 0.5em 0;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0.5em;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #555;
        color: #eee; }

      .row .form-group input:focus, .row .form-group button:focus {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 1em 0.5em; animation: pulse 1s infinite ease;}

      .row .form-group button {
        border: 1px solid #fff;
        border-radius: 5px;
        outline: none;
        -moz-user-select: none;
        user-select: none;
        color: #333;
        font-weight: 800;
        cursor: pointer;
        margin-top: 2em;
        padding: 1em; }

      .row .form-group button:hover, .row .form-group button:focus {
        background-color: #fff; }

      .row .form-group button.is-loading::after {
      animation: spinner 500ms infinite linear;
      content: "";
      position: absolute;
      margin-left: 2em;
      border: 2px solid #000;
      border-radius: 100%;
      border-right-color: transparent;
      border-left-color: transparent;
      height: 1em;
      width: 4%; }

      .row .footer h5 {
          margin-top: 1em; }

      .row .footer p {
          margin-top: 2em; }

      .row .footer p .symbols {
      color: #444; }

      .row .footer a {
          color: inherit;
          text-decoration: none; }

      .information-text {
      color: #444; }

      @media screen and (max-width: 320px) {
      .row {
          padding-left: 1em;
          padding-right: 1em; }
          .row h1 {
          font-size: 1.5em !important; } }

      @media screen and (min-width: 900px) {
      .row {
          width: 50%; } }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const forgotForm = document.getElementById('forgot-password-form');
        if (forgotForm) {
          forgotForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
      
            fetch('/forgot-password', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ email: email }),
            })
            .then(response => response.json())
            .then(data => {
              if (data.status === 'success') {
                toastr.success(data.message);
              } else {
                toastr.warning(data.message);
              }
            })
            .catch(error => console.error('Error:', error));
          });
        }
      });
      </script>
</head>
<body>
	<div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>
		<form class="form-group" action="/forgot-password" method="post">
			<input type="text" name="email" id="email" required maxlength="30">
			<p><label for="username">Email</label></p>
			<button type="submit" onclick="showSpinner()">Send Email</button>
    </form>
		<div class="footer">
			<h5>Don't wanna reset your password? <a href="/login">Back to login</a></h5>
			<p class="information-text">
        <span class="symbols">&hearts; </span>
          <a href="/login" target="_blank" title="back">EduSphere</a>
        <span class="symbols">&hearts; </span>
      </p>
		</div>
	</div>
  

  <%- include('../partials/flash-message') %>
  <%- include('../partials/js-library') %>
</body>
</html>
